@page "/movie/{id:int}"
@inject TMDBClient TMDB


@if(movieDetails is null)
{
	<p><em>Loading...</em></p>
}
else
{
	<PageTitle>@movieDetails.Title</PageTitle>

	<!--Page Banner -->
	<div class="hero-bg" style="@($"--bg-img: url(https://image/tmdb.org/t/p/original/{movieDetails.BackdropPath})")">
		<div class="hero-container">

		</div>
	</div>


	<h1>@movieDetails.Title</h1>
	<p>@movieDetails.Overview</p>
}

<p>Movie Id is @Id</p>

@code {

	[Parameter]
	public int Id { get; set; }

	private MovieDetails? movieDetails;

	protected override async Task OnInitializedAsync()
	{
		movieDetails = await TMDB.GetMovieDetailsAsync(Id);
	}

}
